# For projects using nanoc (http://nanoc.stoneship.org/)

# Default location for output, needs to match output_dir's value found in nanoc.yaml
output/

# Temporary file directory
tmp/

# Configuration file, see nanoc.yaml.example
nanoc.yaml


.DS_Store
crash.log
nanoc.yaml